div p {
  color: #fff;
  background-color: #f00;
}
.choose-wrap span {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  color: #fff;
}
.choose-wrap .yellow {
  background-color: yellow;
}
.choose-wrap .red {
  background-color: red;
}
.choose-wrap .blue {
  background-color: blue;
}
